<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css" runat="server" asp-append-version="true">
    <title>@ViewData["Title"]</title>
</head>
<body>
<header>
    <div id="logo">
        <img src="~/images/logo_iTechArt.svg" height="30px" />
    </div>
    <div id="menu">
        @if (@User.Identity.IsAuthenticated)
        {
            <span>Hello, @User.Identity?.Name</span>
        }
        else
        {
            <a asp-action="Login" asp-controller="Account">Login</a>
        }
    </div>
</header>
<main>
    @RenderBody()
</main>
</body>
</html>