@model iTechArt.Surveys.DomainModel.Survey

<div id="survey">
    <div class="errors" asp-validation-summary="All"></div>
    <input class="survey-field input_form" id="survey-name" type="text"/>
    <div id="questions-container">
    </div>
    <input type="button" class="action-button survey-control survey-field" id="add-question" value="Add Question"/>
    <button id="submit-survey" class="action-button survey-control survey-field" type="button">Submit</button>
</div>

@section Scripts
{
    <script src="~/js/AddOrEditSurvey.js"></script>
    <script>
        $(`#submit-survey`).on(`click`,
            async () => {
                const survey = {
                    name: $(`#survey-name`).val(),
                    questions: $(`.question-card`).map(function () {
                        return {
                            title: $(this).find(`.question-title`).val(),
                            options: $(this).find(`.answer-option`).map(function (){
                                return $(this).val();
                            }).get(),
                            type:questionType[$(this).find(`.type`).val()]
                        }
                    }).get()
                };
                                
                await fetch(`@Url.Action("AddSurvey")`,
                {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json; charset=utf-8',
                        'Content-Type': 'application/json;charset=UTF-8'
                    },
                    body: JSON.stringify(survey)
                }).then((response) =>{
                    if (response.status > 399){
                        alert("Error")
                    }
                    else
                    {
                        window.location = `@Url.Action("Index", "Surveys")`;
                    }
                });
            }
        );
 </script>   
}